<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заказ</title>
    <th:block th:replace="layout/page-layout.html :: page-head"/>
</head>
<body>
<div class="container-fluid text-center">
    <div class="container text-center main-div">
        <th:block th:replace="layout/page-layout.html :: page-logo"/>
        <div class="row">
            <th:block th:replace="layout/page-layout.html :: page-nav"/>
            <div class="col-sm-10 text-capitalize content">
                <table class="table table-bordered t-order text-center">
                    <tbody>
                    <tr class="text-center">
                        <td></td>
                        <td>
                            <h4>[[${order.client.name}]]</h4>
                        </td>
                        <td></td>
                        <td th:if="${order.closed} == true">
                            <h4>Завершен</h4>
                        </td>
                    </tr>
                    <tr th:each="position: ${order.positionSet}">
                        <td>
                            <a th:href="@{'/item/' + ${position.item.id}}">
                                <img class="cart-img" th:if="${!position.item.imgData.equals('')}"
                                     th:src="@{'data:image/jpeg;base64,' + ${position.item.imgData}}" alt="pic">
                            </a>
                        </td>
                        <td><a th:href="@{'/item/' + ${position.item.id}}">[[${position.item.name}]]</a></td>
                        <td>[[${position.quantity}]]</td>
                        <td>[[${position.item.price}]]</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
</body>
</html>