<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new smartphone</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid text-center">
    <h1>Добавить новый смартфон</h1>
    <form class="form-control" th:action="@{/smartphone/new}" method="post" th:object="${smartphone}">
        <div>
            <label for="name">Модель: </label>
            <input id="name" type="text" minlength="1" th:field="*{name}" required/>
        </div>
        <div>
            <label for="country">Страна-производитель: </label>
            <input id="country" type="text" minlength="1" th:field="*{countryOfOrigin}" required/>
        </div>
        <div>
            <label for="guarantee">Гарантия: </label>
            <input id="guarantee" type="number" minlength="1" th:field="*{guarantee}" required/>
        </div>
        <div>
            <label for="release">Год релиза: </label>
            <input id="release" type="number" minlength="1" th:field="*{releaseYear}" required/>
        </div>
        <div>
            <label for="diagonal">Диагональ: </label>
            <input id="diagonal" type="number" step="any" minlength="1" th:field="*{diagonal}" required/>
        </div>
        <div>
            <label for="processor">Процессор: </label>
            <input id="processor" type="text" minlength="1" th:field="*{processor}" required/>
        </div>
        <div>
            <label for="ram">RAM: </label>
            <input id="ram" type="number" minlength="1" th:field="*{ram}" required/>
        </div>
        <div>
            <label for="rom">ROM: </label>
            <input id="rom" type="number" minlength="1" th:field="*{rom}" required/>
        </div>
        <div>
            <label for="price">Цена: </label>
            <input id="price" type="number" th:field="*{price}" required/>
        </div>
        <div>
            <label for="img">IMG: </label>
            <input id="img" type="text" minlength="1" th:field="*{img}" required/>
        </div>

        <button class="btn btn-success">Сохранить</button>
        <a class="btn btn-danger" th:href="@{/}">На главную</a>
    </form>
</div>

</body>
</html>