<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Производители</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid text-center">
    <h1>Производители</h1>
    <p class="alert alert-success" th:if="${successMessage} != null">
        [[${successMessage}]]
    </p>
    <p class="alert alert-danger" th:if="${dangerMessage} != null">
        [[${dangerMessage}]]
    </p>
    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Адрес</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="manufacturer: ${manufacturers}">
            <td>[[${manufacturer.id}]]</td>
            <td>
                <a th:href="@{'/manufacturer/' + ${manufacturer.id}}">[[${manufacturer.name}]]</a>
            </td>
            <td>[[${manufacturer.address}]]</td>
            <td>
                <a th:href="@{'/manufacturer/delete/' + ${manufacturer.id}}" class="btn btn-danger">Удалить</a>
                <a th:href="@{'/manufacturer/update/' + ${manufacturer.id}}" class="btn btn-warning">Редактировать</a>
                <a th:href="@{'/manufacturer/' + ${manufacturer.id}}" class="btn btn-primary">Подробнее</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{/manufacturer/new}" class="btn btn-success form-control">Добавить нового производителя</a>
    </div>
    <div>
        <a th:href="@{/}"><button class="btn btn-primary">На главную</button></a>
    </div>

</div>


</body>
</html>