<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование производителя</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-sm align-content-center text-center">
    <h1>Редактирование производителя</h1>
    <form method="post" th:action="@{/manufacturer/update}" th:object="${manufacturer}">

        <div class="mb-3 row" hidden="hidden">
            <label class="col-sm-2 col-form-label" for="id">ID:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="id" required minlength="1" th:field="*{id}">
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="name">Название:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="name" required minlength="1" th:field="*{name}">
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="address">Адрес:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="address" required minlength="1" th:field="*{address}">
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <button class="btn btn-success form-control">Сохранить</button>
            </div>
            <div class="col-sm-5">
                <a class="btn btn-danger form-control" th:href="@{/manufacturer}">Назад</a>
            </div>
        </div>
    </form>
</div>

</body>
</html>