<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <th:block th:replace="layout/page-layout.html :: page-head"/>
</head>
<body>

<p class="alert alert-success" th:if="${successMessage != null}">
    [[${successMessage}]]
</p>

<p class="alert alert-danger" th:if="${dangerMessage != null}">
    [[${dangerMessage}]]
</p>

<div class="container-fluid text-center">
    <div class="container text-center main-div">

        <th:block th:replace="layout/page-layout.html :: page-logo"/>
        <div class="row">
            <th:block th:replace="layout/page-layout.html :: page-nav"/>

            <div class="col-sm-10 text-start content">
                <div class="row">
                    <th:block th:if="${smartphones != null}">
                        <h4><i>Смартфоны:</i></h4>
                        <div class="col text-center items" th:each="smartphone: ${smartphones}">
                            <a th:href="@{'item/' + ${smartphone.id}}">
                                <div class="title">[[${smartphone.name}]]</div>
                                <img th:if="${!smartphone.imgData.equals('')}" class="img_ind"
                                     th:src="@{'data:image/jpeg;base64,' + ${smartphone.imgData}}" alt="pic">
                                <img th:if="${smartphone.imgData.equals('')}" class="img_ind"
                                     th:src="@{/img/no-image.jpg}" alt="pic">
                            </a>
                            <span class="price">[[${smartphone.price}]] ₽</span>
                            <a sec:authorize="hasRole('USER')" th:href="@{/}">
                                <button class="cart_ind">В корзину</button>
                            </a>
                        </div>
                    </th:block>

                </div>

                <div class="row">
                    <th:block th:if="${tvs != null}">
                        <h4><i>Телевизоры:</i></h4>
                        <div class="col text-center items" th:each="tv: ${tvs}">
                            <a th:href="@{'item/' + ${tv.id}}">
                                <div class="title">[[${tv.name}]]</div>
                                <img th:if="${!tv.imgData.equals('')}"
                                     th:src="@{'data:image/jpeg;base64,' + ${tv.imgData}}" alt="pic" style="width: auto">
                                <img th:if="${tv.imgData.equals('')}" class="img_ind"
                                     th:src="@{/img/no-image.jpg}" alt="pic">
                            </a>
                            <span class="price">[[${tv.price}]] ₽</span>
                            <a sec:authorize="hasRole('USER')" th:href="@{/}">
                                <button class="cart_ind">В корзину</button>
                            </a>
                        </div>
                    </th:block>

                </div>

                <div class="row">
                    <th:block th:if="${laptops != null}">
                        <h4><i>Ноутбуки:</i></h4>
                        <div class="col text-center items" th:each="laptop: ${laptops}">
                            <a th:href="@{'item/' + ${laptop.id}}">
                                <div class="title">[[${laptop.name}]]</div>
                                <img th:if="${!laptop.imgData.equals('')}"
                                     th:src="@{'data:image/jpeg;base64,' + ${laptop.imgData}}" alt="pic">
                                <img th:if="${laptop.imgData.equals('')}" class="img_ind"
                                     th:src="@{/img/no-image.jpg}" alt="pic">
                            </a>
                            <span class="price">[[${laptop.price}]] ₽</span>
                            <a sec:authorize="hasRole('USER')" th:href="@{/}">
                                <button class="cart_ind">В корзину</button>
                            </a>
                        </div>
                    </th:block>

                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>