<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <th:block th:replace="layout/page-layout.html :: page-head"/>
</head>
<body>

<p class="alert alert-success" th:if="${successMessage != null}">
    [[${successMessage}]]
</p>

<p class="alert alert-danger" th:if="${dangerMessage != null}">
    [[${dangerMessage}]]
</p>

<div class="container-fluid text-center">
    <div class="container text-center main-div">

        <th:block th:replace="layout/page-layout.html :: page-logo"/>
        <div class="row">
            <th:block th:replace="layout/page-layout.html :: page-nav"/>

            <div class="col-sm-10 text-start content">
                <form class="form-sign-in login" method="post" th:action="@{/login}">
                    <h2 class="form-sign-in-heading">Вход</h2>
                    <p>
                        <label for="username" class="sr-only">Login</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="Login" required autofocus>
                    </p>
                    <p>
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                    </p>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
                    <p><a th:href="@{/user/register}">Зарегистрироваться</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>