<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор теоремы косинусов</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body class="text-center bg-dark-subtle">
    <h1 style="padding: 200px">Онлайн калькулятор теоремы косинусов</h1>
    <a th:href="@{calculator}">
        <button class="btn btn-primary">
            Перейти к решению
        </button>
    </a>
</body>
</html>