<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Клиенты</title>
    <th:block th:replace="layout/page-layout.html :: page-head"/>
</head>
<body>
<div class="container-fluid text-center">
    <div class="container text-center main-div">
        <th:block th:replace="layout/page-layout.html :: page-logo"/>
        <div class="row">
            <th:block th:replace="layout/page-layout.html :: page-nav"/>
            <div class="col-sm-10 text-start content">

                <div class="container-fluid">

                    <p class="alert alert-success" th:if="${successMessage != null}">
                        [[${successMessage}]]
                    </p>
                    <p class="alert alert-danger" th:if="${dangerMessage != null}">
                        [[${dangerMessage}]]
                    </p>

                    <table class="table table-bordered text-center">
                        <thead class="table">
                        <tr>
                            <th>
                                Login
                            </th>
                            <th>
                                Info
                            </th>
                            <th>
                                Действия
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${clients} != null" th:each="client: ${clients}">
                            <td class="col-sm-2 text-center">
                                <a th:href="@{'/client/' + ${client.id}}">
                                    <div class="title">[[${client.user.getLogin()}]]</div>
                                </a>
                            </td>
                            <td class="col-sm-7 text-start">
                                <div>
                                    <div>Логин: [[${client.name}]]</div>
                                    <div>Номер телефона: [[${client.phoneNumber}]]</div>
                                    <div>Email: [[${client.email}]]</div>
                                </div>
                            </td>
                            <td class="col-sm-1 text-center align-middle container gy-lg-5">
                                <a th:href="@{'/client/' + ${client.id}}">
                                    <img th:src="@{/img/ico/details-ico.png}" alt="pic" width="55vh">
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>